h1,
h2,
p {
  color: var(--fontColor);
}
h1,
h2 {
  text-transform: uppercase;
  text-align: center;
}
.sunOrMoon {
  cursor: pointer;
}
#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100dvh;
  p {
    width: 40ch;
    text-align: center;
  }
}
.tglLinks {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.tglLinks img {
  height: 40px;
  width: 40px;
}
button {
  width: 100px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  background-color: var(--btnBackground);
  color: var(--fontColor);
  transition: transform 0.5s ease-in-out;
}
button:hover {
  transform: scale(1.05);
}
.heroTop {
  display: flex;
  justify-content: center;
}
.heroContent {
  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (width>=800px){
    #hero{
        display: flex;
        flex-direction: row-reverse;
    }
}

